body {
	width: 100%;
	margin: 0 auto;
}

#navigation {
	width: 100%;
	padding-top: 5px;
	background-color: #26CC8C;
	border-bottom: 3px solid #ffffff;
}

ul li a {
	font-family: 'Pontano Sans', sans-serif; 
	font-size: 25px;
	color: #ffffff;
	list-style-type: none;
}

#hero {
	background-color: #26CC8C;
}

.quarter {
	width: 25%;
	margin-top: 50px;
	margin-bottom: 50px;
	float: left;
	display: inline;
	text-align: center;
}

.quarter i {
	font-size: 150px;
	color: #ffffff;
}

#prop {
	font-family: 'Pontano Sans', sans-serif; 
	font-size: 20px;
	color: #ffffff;
}

.two {
	width: 50%;
	margin-top: 50px;
	float: left;
	display: inline;
	text-align: center;
}

/* --
#work {
	height: 160px;
	background-color: #ffffff;
}
-- */

#aboutUs {
	padding: 150px;
	background-color: #26CC8C;	
}
